:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* TODO: REMOVE */
  text-align: center;
}

html,
body {
  min-height: 100dvh;
  max-height: 100dvh;
  height: 100dvh;

  background-color: #f0f0f0;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.75);
  border-radius: 20px;
  border: transparent;
}
